.section-signup {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("/dist/assets/log-bg.png") top center;
  background-size: cover;
  @include flex-cols-center;
  gap: 2rem;
  padding: 1rem;

  & article.loading-overlay {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009d;
    color: $secondary-color;
    @include flex-cols-center;

    & button.cancel-loading-overlay {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 4rem;
      height: 4rem;
      font-size: font-size(larger);
      color: $secondary-color;
      font-weight: weight(medium);
      background-color: transparent;
      border: none;
      @include flex-cols-center;
      @include smoot-trans;
      &:hover {
        color: $primary-color;
        border: 2px solid $primary-color;
        border-radius: 0.5rem;
      }
    }
    & div {
      @mixin animationCode {
        border-radius: 1rem;
        font-size: font-size(medium);
        width: fit-content;
      }
      $borderRadius: 1rem;
      @include animationCode;
      text-transform: capitalize;
      border: 2px solid $secondary-color;
      padding: 2rem;
      @include flex-cols-center;

      animation: loadingCont infinite linear 3s;
      &:before {
        content: "authenticating";
        width: 100%;
        height: 100%;
        letter-spacing: 4px;
        animation: change-spacing infinite linear 3s;
      }
    }
    &.none {
      display: none;
    }
  }
  & .logo-cont {
    background-color: $logo-bg;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    @include flex-cols-center;

    & .logo {
      width: 70%;
      height: 70%;
    }
  }
  $field-width: 35rem;
  & form.signup-inp-cont {
    @include flex-cols-center;
    gap: 1.5rem;
    width: $field-width;
    // background-color: green;
    & > div {
      background-color: $dark-grey-color;
      width: 100%;
      height: 100%;
      @include flex-row-center;
      gap: 1rem;
      border-radius: 0.3rem;
      padding: 0.4rem 0.5rem;
      .icon {
        display: inline-block;
        width: 25px;
        height: 25px;

        img {
          width: 100% + 15%;
          height: 100% + 15%;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
      & .inp {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: font-size(tiny);
        color: $dark-color;

        &::placeholder {
          font-size: font-size(tiny);
        }
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
  .passowrd-checker-cont {
    width: $field-width;
    border-radius: 1rem;
    height: 0.7rem;
    background-color: $grey-color;
    overflow: hidden;
    & .passowrd-checker {
      display: block;
      width: 67%;
      height: 100%;
      background-color: $primary-color;
      @include smoot-trans;
    }
  }
  & .error {
    color: $errorColor;
    text-transform: capitalize;
    font-size: font-size(tiny);
  }
  .btn {
    background-color: $primary-color;
    border: none;
    padding: 0.8rem 2.5rem;
    font-size: font-size(smaller);
    text-transform: capitalize;
    color: $dark-color;
    border-radius: 0.3rem;
    transition: all 0.3s linear;
    &:hover {
      background-color: transparent;
      // border: 1px solid $primary-color;
      box-shadow: 0 2px 1px 1px rgba($primary-color, 0.2),
        -1px -1px 1px 1px rgba($primary-color, 0.3) inset,
        2px 2px 1px 1px rgba($primary-color, 0.6);
      color: $secondary-color;
      cursor: pointer;
    }
  }
  p.register {
    color: $secondary-color;
    font-size: font-size(little);
    & a {
      color: $primary-color;
      text-transform: capitalize;
    }
  }
}
